<div class="container form-login">
  <div class="login col-12">
    <div class="form-logo">

    </div>
    <form class="form form-all " [formGroup]="loginForm" method="post">
      <img class="form-img" src="assets/img/login/logo.png" alt="enjoya" width="300" height="300">
      <h2 class="text-center"> Iniciar Sesión</h2>
      <div class="form-item form-group">
        <input type="text|email" formControlName="usuario" placeholder="Usuario o Correo electronico"
          class="form-control">
      </div>
      <div class="form-item form-group">
        <input type="password" formControlName="password" placeholder="Contraseña" class="form-control">
      </div>
      <div class="form-item form-group">
        <button (click)="_onSubmit()" class="btn btn-primary" type="submit">Ingresar</button>
      </div>
    </form>

  </div>


</div>
