<div class="container form-login">
  <div class="row">
    <h2 style="text-align:center; margin-top:20px">Acerca de Nosotros</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>
        <br>
        <br>
        <br>
        <br>




        Enjoya, joyería temática, es una marca que trabaja joyas en Plata 950 y oro 18k. Contamos con líneas temáticas
        para los amantes de los animales, para los Papás enamorados de sus hijos, amantes de nuestro Perú y con joyería
        exclusiva de diversos diseños handmade peruano.
        Trabajamos con un equipo de artesanos que plasman su arte y dedicación en cada pieza elaborada, para ofrecer a
        nuestros clientes productos con calidad de exportación.
      </p>
    </div>
    <div class="col-md-6">
      <img class="form-img" src="assets/img/login/logo.png" alt="enjoya" width="300" height="300">
    </div>
  </div>
</div>
