/*header*/


@media (min-width: 992px) {
  .navbar-nav {
    margin-left: auto;
    margin-right: auto !important;
  }
}

@media (min-width: 768px) {
  .navbar-light .navbar-brand {
    margin-left: 10px !important;
  }



}

.navbar-collapse {
  margin-left: 10px !important;
  align-items: normal !important;
}

@media (max-width: 768px) {
  .navbar-nav {
    /* display: none !important;*/
    width: 100% !important;
  }

  .navbar-toggler {
    margin-right: 10px !important;
  }
}

.navbar-brand.abs {
  position: absolute;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}


.navbar-light .navbar-nav .nav-link:hover {
  color: #7BB490 !important;
}

/*home*/
.carousel-control-prev {
  color: #7BB490;
}

.carousel-control-prev-icon {
  background-color: #7BB490;
}

.carousel-control-next-icon {
  background-color: #7BB490;
}

@media (min-width: 768px) {
  .card-group>.card {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
  }
}

a {
  text-decoration: none;
}

a:hover {
  color: #7BB490;
}

a:focus {
  color: #7BB490;
}

/*footer*/
.text-reset {
  text-decoration: none;
  color: black;
}

.text-reset:hover {
  color: #7BB490 !important;
}

.mt-3 {
  padding-top: 20px !important;
}

.contacts {
  padding: 0 !important;
}

.categories {
  padding: 0 !important;
}

.fastlink{
  padding: 0 !important;
}
