.form-all {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50% !important;
}

.form-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.form-item {
  margin-top: 20px !important;
}

.container.form-login {
  width: 100%;
}

.container.form-login>.form>.form-group {
  margin-top: 10px !important;
}

.dropdown-item:hover {
  color: #7BB490 !important;
}

button.botonForm.btn.btn-primary {
  background-color: #7BB490;
  border-color:#7BB490;
}
