<div class="container pt-3" style="margin-top:40px; padding-left: 40px;">
    <div class="row">
      <div class="col-sm-5">
        <div>
            <img class="img-fluid img-thumbnail" src="assets/img/products/list/collar-mia-basic.png" alt="babylover">
        </div>
      </div>
      <div class="col-sm-4" style="padding-left: 60px;">
        <h2>Collar Mia Basic</h2>
        <h5>SKU: ML01</h5>
        <h5>Precio: S/ 105.00 </h5>
        <h5>Talla: 15</h5>
        <h5>Stock disponible: 5 unidades</h5>
      </div>
    </div>
</div>