<div class="container">
    <h2 class="text-center" style="font-size: 26px; margin-bottom:20px;">Listado de Productos</h2>
    <div class="table-responsive table-striped" style="border-radius: 10px;">
        <table class="table" style="margin:0px;">
            <thead style="background-color: rgba(52,58,64,0.75);color: rgb(255,255,255);">
                <tr>
                    <th class="align-middle">Categoria</th>
                    <th class="align-middle"><strong>Nombre</strong><br></th>
                    <th class="align-middle"><strong>Descripcion</strong><br></th>
                    <th class="align-middle"><strong>Precio</strong><br></th>
                    <th class="align-middle"><strong>Stock</strong><br></th>
                    <th class="align-middle" style="text-align: center;"></th>
                    <th class="align-middle" style="text-align: center;"></th>
                </tr>
            </thead>
            <tbody *ngIf="products.length > 0">
                <tr *ngFor="let p of products">
                    <td class="align-middle">Categoria</td>
                    <td class="align-middle">{{p.name}}</td>
                    <td class="align-middle">{{p.description}}</td>
                    <td class="align-middle">S/ {{p.price | number : '1.2-2'}} </td>
                    <td class="align-middle">{{p.stock}}</td>
                    <td class="text-center"><button class="btn btn-outline-dark" (click)=edit(p.id)><i class="fa fa-pencil"></i>Editar</button></td>
                    <td class="text-center"><button class="btn btn-outline-danger" (click)=delete(p.id)><i class="fa fa-remove"></i>Eliminar</button></td>
                </tr>                       
            </tbody>
        </table>
    </div>
</div>