<p>Historial Compras</p>

<div class="container">
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Descipcion</th>
            <th scope="col">Fecha</th>
            <th scope="col">Monto Pagado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Anillos de matrimonio de oro</td>
                <td>15/01/2022</td>
                <td>S/. 5899.99</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Aretes colgantes de plata</td>
                <td>16/01/2022</td>
                <td>S/. 1499.99</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Cadena lomo corvina de plata</td>
                <td>18/01/2022</td>
                <td>S/. 3599.99</td>
            </tr>
        </tbody>
    </table>
</div>