<p>semana-tres works!</p>
<div class="row">
    <div class="col-6">
        <form [formGroup]="contactUsForm" autocomplete="off">
            <div class="mb-3">
                <input type="text" class="form-control" formControlName="nombre" placeholder="Ingrese nombre">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" formControlName="apellido" placeholder="Ingrese apellido">
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" formControlName="email" placeholder="Ingrese email">
            </div>
            <div class="mb-3">
                <input type="area" class="form-control" formControlName="mensaje" placeholder="Ingrese mensaje">
            </div>
            <button (click)="_onClick()" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d61236.96867395406!2d-71.537451!3d-16.4090474!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91424aeb95cb3be1%3A0x362ceaa0b20a26e5!2sTerminal%20Terrestre%20de%20Arequipa!5e0!3m2!1ses-419!2spe!4v1642815785289!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <p>
        Formulario valido: {{contactUsForm.valid}}
    </p>
</div>
