<div class="container">
  <h2 class="text-center" style="font-size: 26px; margin-bottom:20px;">Listado de Reclamos</h2>

  <div class="table-responsive table-striped" style="border-radius: 10px;">
    <br>
    <table class="table" style="margin:0px;">
      <thead style="background-color: rgba(52,58,64,0.75);color: rgb(255,255,255);">
        <tr>
          <th class="align-middle"><strong>Id</strong><br></th>
          <th class="align-middle"><strong>Fecha</strong><br></th>
          <th class="align-middle"><strong>Nombre</strong><br></th>
          <th class="align-middle"><strong>Tipo</strong><br></th>
          <th class="align-middle"><strong>Reclamo</strong><br></th>
          <th class="align-middle"><strong>Estado</strong><br></th>
          <th class="align-middle" style="text-align: center;"></th>
          <th class="align-middle" style="text-align: center;"></th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let c of complaints">

          <td class="align-middle">{{c.id}}</td>
          <td class="align-middle">{{c.datec| date}}</td>
          <td class="align-middle">{{c.name}} </td>
          <td class="align-middle">{{c.typep}}</td>
          <td class="align-middle">{{c.typc}}</td>
          <td class="align-middle" *ngIf="c.statusC == 1 else second">Pendiente</td>
          <ng-template #second>
            <td class="align-middle">Resuelto</td>
          </ng-template>




          <td class="text-center"><button class="btn btn-outline-dark" (click)=_show(c.id)><i
                class="fa fa-pencil"></i>Ver</button></td>
          <td class="text-center"><button class="btn btn-outline-danger" (click)=_delete(c.id)><i
                class="fa fa-remove"></i>Eliminar</button></td>
        </tr>

      </tbody>

    </table>
  </div>
</div>
